@media (max-width: 600px) {
    #navbar {
      justify-content: space-evenly;
      font-size: 15px;
    }
    .links{
        font-size: 15px;
         }
    }
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(1, 35, 9);
    color: white;
    padding: 10px 20px;
    z-index: 1000; 
  }
  
.links{
    font-family: sans-serif;
    list-style-type: none;
    font-size: 3vw;
    text-shadow: 2px 2px 2px rgb(91, 88, 88);
    display: inline-block;
    justify-content: space-evenly;
    margin-left: 40px;
    margin-top: 1.45rem;
    flex-wrap: wrap;
        }
body{
      background-color: rgb(2, 47, 2);
    }
.personal{
      float: right;
      margin-right: 30px;
    }
.welcome{
      padding-top: 15rem;
      text-align: center;
      font-size: 75px;
      font-family: Calibri, sans-serif;
      color: rgb(239, 224, 224);
      text-shadow: 2px 2px 2px rgb(91, 88, 88);
    }
.subtitle{
        text-align: center;
        margin-top: -4rem;
        color:rgb(239, 224, 224);
        font-family: Calibri, sans-serif;
        padding-bottom: 10rem;

    }
a{
      text-decoration: none;
      color: white;
    }
   
 a:visited{
      color: white;
    }
 a:active{
      color: rgb(239, 64, 64);
    }
#projects{  background-color: 
    rgba(133, 221, 51, 0.943);
    padding-bottom: 2rem;
    padding-top: 1rem;
    }
.project-title{
        text-align: center;
        font-family: Calibri, sans-serif;
        color: white;
        text-shadow: 2px 2px 2px rgb(91, 88, 88);
        padding-bottom: 1rem;
        
    }
    .project-tile{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-left: auto;
        padding: 20px;
        text-align: center;
    }
    .project-frame1, .project-frame2, .project-frame3{
        flex: 1 1 20%;
        max-width: 300px;
        height: 300px;
        background-color: olive;
        padding: 20px;
        margin-bottom: 20px;
    }
    .project-image{
        width: 300px;
    }
    .building-skyline:hover{
        background-image: url(/img/skyline-night.jpeg);
        width: 100% auto;
        height: 100% auto;
        background-size: cover;
        align-items: center;
    }
     .building-skyline{
        width: 300px;
        height: 250px;
        background-image: url(/img/skyline-day.jpeg);
        transition: background-image 0.5s ease-in-out;
        background-size: cover;
       
    }

    .title-projects{
        font-family: Calibri, sans-serif;
        text-align: center;
        margin: auto;
    }
    .skyline{
       display: flex;
       text-align: center;
           }
.building-skyline p{
        margin-top: 299px;
    }
.notes{
    padding-top: 5rem;
    
    }
.socials{
    font-family: Calibri, sans-serif;
    list-style-type: none;
    color: white;
    text-shadow: 1px 1px 1px rgb(91, 88, 88);
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1.3rem;
    font-size: 30px;
    text-align: center;
}
.socials:active{
    text-align: center;
    font-family: Calibri, sans-serif;
    list-style-type: none;
    color: rgb(239, 64, 64);
    text-shadow: 1px 1px 1px rgb(91, 88, 88);
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1.3rem;
    font-size: 30px;
}
#socials-title{
    color: white;
    font-family: Calibri, sans-serif;
    text-shadow: 2px 2px 2px rgb(91, 88, 88);
    text-align: center;
    }

.footer-notes{
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: Calibri, sans-serif;
         }